<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
		<style>
			body {
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			}
			a {
				font-size: 12px;
				color: darkblue;
			}
			h1 {
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<h1>Activation du compte</h1>
		<a href="{{ url }}">Cliquer ici pour activer votre compte</a>
	</body>
</html>
